{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Client: </h5>
			<hr>
			<p>{{customer.name}}</p>
			<p>{{ customer.date_created }}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informations de contact</h5>
			<hr>
			<p>Email: {{customer.email}}</p>
			<p>Téléphone: {{customer.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total des commandes</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Produit</th>
					<th>Catégorie</th>
					<th>Date de commande</th>
					<th>Statut</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
					<td>{{order.product.category}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}